body{
    width: 100vw;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    font-family: Arial;
    .Rouge{
        padding-bottom: 10%;
    }
    .Bleu{
         padding-top:12%;
    }
    .cadre{
        border: 2px solid #fff;
        padding: 5px;
    }
}