body{
    width: 90%;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    font-family: 'Acme', sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    h1, h2{
        font-family: 'Russo One', sans-serif;
    }
    h4{
        font-size: 30px;
        .rouge{
            transform: rotate(-5deg);
        }
    }
}
