h1{
    font-size: 100px;
    color: rgb(230, 230, 230);
    text-shadow: 0 1px 0 rgb(0, 0, 0),
             0 2px 0 #000000,
             -1px 3px 0 rgb(0, 0, 0),
             -1px 4px 0 rgb(0, 0, 0),
             -2px 5px 0 rgb(0, 0, 0),
             -2px 6px 0 rgb(0, 0, 0),
             -2px 7px 2px rgba(0, 0, 0, 0.6),
             -2px 7px 8px rgba(0, 0, 0, 0.2),
             -2px 7px 45px rgba(0, 0, 0, 0.4);
    position:absolute;
    top: 25%;
    left: 50%;
    z-index:2;
    -webkit-transform: perspective( 2000px ) rotateY( 40deg ); /* Pour Chrome et Safari */
    -moz-transform: perspective( 2000px ) rotateY( 40deg ); /* Pour Mozilla */
    -o-transform: perspective( 2000px ) rotateY( 40deg ); /* Pour Opera */
    transform: perspective( 2000px ) rotateY( 40deg );
    animation: alternate shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate(0, 0, 0);
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
h2{
    font-size: 60px;
    color: rgb(138, 19, 19);
    text-shadow: 0 1px 0 rgb(0, 0, 0),
             0 2px 0 #000000,
             -1px 3px 0 rgb(0, 0, 0),
             -1px 4px 0 rgb(0, 0, 0),
             -2px 5px 0 rgb(0, 0, 0),
             -2px 6px 0 rgb(0, 0, 0),
             -2px 7px 2px rgba(0, 0, 0, 0.6),
             -2px 7px 8px rgba(0, 0, 0, 0.2),
             -2px 7px 45px rgba(0, 0, 0, 0.4);
    -webkit-transform: perspective( 2000px ) rotateY( 30deg ); /* Pour Chrome et Safari */
    -moz-transform: perspective( 2000px ) rotateY( 30deg ); /* Pour Mozilla */
    -o-transform: perspective( 2000px ) rotateY( 30deg ); /* Pour Opera */
    transform: perspective( 2000px ) rotateY( 30deg );
    position:absolute;
    top: 45%;
    left: 55%;
    z-index:2;
    animation: alternate shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate(0, 0, 0);
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
h3{
    font-size: 60px;
    position: absolute;
    top:10%;
    left: 30%;
    z-index: 4;
    transform: rotate(-5deg);
}
h4{
    font-size: 40px;
}
.rouge{
    margin-left: 20%;
    transform: rotate(-4deg);
}
.bleu{
    transform: rotate(-5deg);
}