#n1 {
  -webkit-clip-path: polygon(50% 0%, 0 0, 0 12%);
  clip-path: polygon(50% 0%, 0 0, 0 12%);
  width: 101%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  z-index: 0;
  top: 0;
  left: -1%;
}
#n2 {
  -webkit-clip-path: polygon(40% 0, 0 11%, 0 28%, 100% 27%, 17% 26%, 100% 20%, 100% 0, 8% 10%);
  clip-path: polygon(40% 0, 0 11%, 0 28%, 100% 27%, 17% 26%, 100% 20%, 100% 0, 8% 10%);
  width: 102%;
  height: 100%;
  background-color: #000;
  position: absolute;
  z-index: 1;
  top: 80%;
  left: -1%;
}
#n3 {
    -webkit-clip-path: polygon(0 21%, 100% 28%, 100% 37%, 0 44%);
    clip-path: polygon(0 21%, 100% 28%, 100% 37%, 0 44%);
  width: 102%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  z-index: 1;
  top: 70%;
  left: -1%;
}
#n4 {
    -webkit-clip-path: polygon(56% 0, 0 7%, 0 16%, 100% 24%, 100% 1%, 14% 8%);
clip-path: polygon(56% 0, 0 7%, 0 16%, 100% 24%, 100% 1%, 14% 8%);
width: 102%;
height: 100%;
background-color: #000;
position: absolute;
z-index: 1;
top: 90%;
left: -1%;
}
#n5{
    -webkit-clip-path: polygon(0 7%, 0 19%, 54% 33%, 30% 19%, 100% 33%, 100% 10%, 61% 0, 79% 10%);
clip-path: polygon(0 7%, 0 19%, 54% 33%, 30% 19%, 100% 33%, 100% 10%, 61% 0, 79% 10%);
width: 102%;
height: 100%;
background-color: #000;
position: absolute;
z-index: 1;
top: 90%;
left: -1%;
}
#n6{
    -webkit-clip-path: polygon(11% 100%, 43% 84%, 0 94%, 0 100%, 100% 100%, 100% 85%, 56% 100%);
clip-path: polygon(11% 100%, 43% 84%, 0 94%, 0 100%, 100% 100%, 100% 85%, 56% 100%);
width: 102%;
height: 100%;
background-color: rgb(0, 0, 0);
position: absolute;
z-index :1;
top: 1%;
left: -1%;
}