h1 {
  font-size: 100px;
  color: #e6e6e6;
  text-shadow: 0 1px 0 black, 0 2px 0 #000000, -1px 3px 0 black, -1px 4px 0 black, -2px 5px 0 black, -2px 6px 0 black, -2px 7px 2px rgba(0, 0, 0, 0.6), -2px 7px 8px rgba(0, 0, 0, 0.2), -2px 7px 45px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 2;
  -webkit-transform: perspective(2000px) rotateY(40deg);
  /* Pour Chrome et Safari */
  -moz-transform: perspective(2000px) rotateY(40deg);
  /* Pour Mozilla */
  -o-transform: perspective(2000px) rotateY(40deg);
  /* Pour Opera */
  transform: perspective(2000px) rotateY(40deg);
  animation: alternate shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate(0, 0, 0);
  animation-iteration-count: infinite;
  animation-duration: 5s; }

h2 {
  font-size: 60px;
  color: #8a1313;
  text-shadow: 0 1px 0 black, 0 2px 0 #000000, -1px 3px 0 black, -1px 4px 0 black, -2px 5px 0 black, -2px 6px 0 black, -2px 7px 2px rgba(0, 0, 0, 0.6), -2px 7px 8px rgba(0, 0, 0, 0.2), -2px 7px 45px rgba(0, 0, 0, 0.4);
  -webkit-transform: perspective(2000px) rotateY(30deg);
  /* Pour Chrome et Safari */
  -moz-transform: perspective(2000px) rotateY(30deg);
  /* Pour Mozilla */
  -o-transform: perspective(2000px) rotateY(30deg);
  /* Pour Opera */
  transform: perspective(2000px) rotateY(30deg);
  position: absolute;
  top: 45%;
  left: 55%;
  z-index: 2;
  animation: alternate shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate(0, 0, 0);
  animation-iteration-count: infinite;
  animation-duration: 5s; }

h3 {
  font-size: 60px;
  position: absolute;
  top: -40%;
  left: 30%;
  z-index: 4;
  transform: rotate(-5deg); }

h4 {
  font-size: 40px; }

.rouge {
  margin-left: 20%;
  transform: rotate(-4deg); }

.bleu {
  transform: rotate(-3deg); }

.Violet {
  height: 720px;
  position: relative;
  background-image: linear-gradient(-80deg, #481968, #bd6de2);
  background-image: -moz-linear-gradient(-80deg, #bd6de2, #481968); }

.Rouge {
  position: relative;
  background-image: linear-gradient(-80deg, #f03326, #ffd900);
  background-image: -moz-linear-gradient(-80deg, #ffd900, #f03326); }

.Bleu {
  position: relative;
  background-image: linear-gradient(-260deg, #0c72a1, #9dc6ec);
  background-image: -moz-linear-gradient(-260deg, #9dc6ec, #0c72a1); }

.Vert {
  position: relative;
  background-image: linear-gradient(-260deg, #99e07d, #44cc0f);
  background-image: -moz-linear-gradient(-260deg, #44cc0f, #99e07d); }

.Rose {
  position: relative;
  background-image: linear-gradient(-80deg, #bb2d80, #ec9dd9);
  background-image: -moz-linear-gradient(-80deg, #ec9dd9, #bb2d80); }

.Fond {
  padding: 15px; }

body {
  width: 100vw;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  font-family: Arial; }
  body .Rouge {
    padding-bottom: 10%; }
  body .Bleu {
    padding-top: 12%; }
  body .cadre {
    border: 2px solid #fff;
    padding: 5px; }

.Noir1 {
  width: 800px;
  height: 300px;
  background-color: #000;
  position: absolute;
  top: -200px;
  left: -80px;
  z-index: 0;
  transform: rotate(-15deg); }

.Noir12 {
  width: 150px;
  height: 40px;
  background: black;
  -webkit-transform: rotate(-10deg) skew(88deg);
  -moz-transform: rotate(-10deg) skew(88deg);
  -o-transform: rotate(-10deg) skew(88deg);
  position: absolute;
  z-index: 4;
  top: 95%; }

.Noir13 {
  width: 101.3%;
  height: 200px;
  background-color: black;
  position: absolute;
  z-index: 3;
  top: 90%;
  left: -2%;
  -webkit-transform: rotate(-5deg) skew(-10deg);
  -moz-transform: rotate(-5deg) skew(-10deg);
  -o-transform: rotate(-5deg) skew(-10deg); }

.Noir14 {
  position: absolute;
  background-color: black;
  z-index: 5;
  top: 81%;
  width: 1%;
  height: 20%;
  left: 99%; }

.Noir2 {
  height: 200px;
  position: relative; }

.Noir22 {
  width: 101.5%;
  height: 200px;
  background-color: black;
  position: absolute;
  z-index: 3;
  top: 21%;
  left: -2%;
  transform: rotate(-4deg); }

.Noir23 {
  width: 150px;
  height: 100px;
  background: black;
  -webkit-transform: rotate(1deg) skew(80deg);
  -moz-transform: rotate(1deg) skew(80deg);
  -o-transform: rotate(1deg) skew(80deg);
  position: absolute;
  z-index: 3;
  top: 80%;
  left: 54%; }

.Noir3 {
  -moz-clip-path: polygon(0 33%, 100% 41%, 100% 53%, 0 65%);
  -o-clip-path: polygon(0 33%, 100% 41%, 100% 53%, 0 65%);
  -webkit-clip-path: polygon(0 33%, 100% 41%, 100% 53%, 0 65%);
  clip-path: polygon(0 33%, 100% 41%, 100% 53%, 0 65%);
  background-color: black;
  max-width: 100%;
  width: 100%;
  height: 200%;
  position: absolute;
  z-index: 2;
  top: 10%;
  left: 0%; }

.dessin {
  width: 40%;
  height: auto;
  top: 3vh;
  left: 0%;
  z-index: 3;
  float: left;
  position: absolute;
  animation: translateX 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translateX(150%); }
@keyframes translateX {
  100% {
    transform: translateX(3%); } }
.tache {
  width: 50%;
  height: auto;
  position: absolute;
  top: 20%;
  left: 45%;
  z-index: 1;
  animation: infinite shake 10s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate(0, 0, 0); }

@keyframes shake {
  50% {
    transform: translate(10px, -10px); }
  100% {
    transform: translate(0, 0); } }
@media screen and (max-width: 1160px) {
  h1 {
    font-size: 70px; }

  h2 {
    font-size: 40px;
    top: 45%; }

  h3 {
    font-size: 50px; }

  body {
    font-size: 14px; }

  .Violet {
    height: 500px; } }
@media screen and (max-width: 1000px) {
  h1 {
    font-size: 50px;
    left: 55%;
    top: 30%; }

  h2 {
    font-size: 30px;
    top: 45%;
    left: 60%; }

  h3 {
    font-size: 50px;
    left: 20%; } }

/*# sourceMappingURL=style.css.map */
