h1 {
  font-size: 100px;
  color: #e6e6e6;
  text-shadow: 0 1px 0 black, 0 2px 0 #000000, -1px 3px 0 black, -1px 4px 0 black, -2px 5px 0 black, -2px 6px 0 black, -2px 7px 2px rgba(0, 0, 0, 0.6), -2px 7px 8px rgba(0, 0, 0, 0.2), -2px 7px 45px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 2;
  -webkit-transform: perspective(2000px) rotateY(40deg);
  /* Pour Chrome et Safari */
  -moz-transform: perspective(2000px) rotateY(40deg);
  /* Pour Mozilla */
  -o-transform: perspective(2000px) rotateY(40deg);
  /* Pour Opera */
  transform: perspective(2000px) rotateY(40deg);
  animation: alternate shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate(0, 0, 0);
  animation-iteration-count: infinite;
  animation-duration: 5s; }

h2 {
  font-size: 60px;
  color: #8a1313;
  text-shadow: 0 1px 0 black, 0 2px 0 #000000, -1px 3px 0 black, -1px 4px 0 black, -2px 5px 0 black, -2px 6px 0 black, -2px 7px 2px rgba(0, 0, 0, 0.6), -2px 7px 8px rgba(0, 0, 0, 0.2), -2px 7px 45px rgba(0, 0, 0, 0.4);
  -webkit-transform: perspective(2000px) rotateY(30deg);
  /* Pour Chrome et Safari */
  -moz-transform: perspective(2000px) rotateY(30deg);
  /* Pour Mozilla */
  -o-transform: perspective(2000px) rotateY(30deg);
  /* Pour Opera */
  transform: perspective(2000px) rotateY(30deg);
  position: absolute;
  top: 45%;
  left: 55%;
  z-index: 2;
  animation: alternate shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate(0, 0, 0);
  animation-iteration-count: infinite;
  animation-duration: 5s; }

h3 {
  font-size: 60px;
  position: absolute;
  top: 10%;
  left: 30%;
  z-index: 4;
  transform: rotate(-5deg); }

h4 {
  font-size: 40px; }

.rouge {
  margin-left: 20%;
  transform: rotate(-4deg); }

.bleu {
  transform: rotate(-5deg); }

.Violet {
  height: 800px;
  position: relative;
  background-image: linear-gradient(-80deg, #481968, #bd6de2);
  background-image: -moz-linear-gradient(-80deg, #bd6de2, #481968); }

.Rouge {
  height: 250px;
  position: relative;
  background-image: linear-gradient(-80deg, #f03326, #ffd900);
  background-image: -moz-linear-gradient(-80deg, #ffd900, #f03326); }
  .Rouge h4 {
    margin-top: 150px; }

.Bleu {
  height: 300px;
  position: relative;
  background-image: linear-gradient(-260deg, #0c72a1, #9dc6ec);
  background-image: -moz-linear-gradient(-260deg, #9dc6ec, #0c72a1); }
  .Bleu h4 {
    margin-top: -20px; }

.Vert {
  position: relative;
  background-image: linear-gradient(-260deg, #99e07d, #44cc0f);
  background-image: -moz-linear-gradient(-260deg, #44cc0f, #99e07d); }
  .Vert h4 {
    padding-top: 50px;
    margin-left: 50%;
    transform: rotate(5deg); }

.Rose {
  height: 600px;
  position: relative;
  background-image: linear-gradient(-80deg, #bb2d80, #ec9dd9);
  background-image: -moz-linear-gradient(-80deg, #ec9dd9, #bb2d80); }
  .Rose h4 {
    transform: rotate(3deg);
    padding-top: 50px; }

.Fond {
  padding: 0px;
  margin: 10% 0; }

body {
  width: 100vw;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  font-family: Arial; }
  body .Rouge {
    padding-bottom: 10%; }
  body .Bleu {
    padding-top: 12%; }
  body .cadre {
    border: 2px solid #fff;
    padding: 5px; }

.Noir1 {
  -webkit-clip-path: polygon(56% 0, 0 0, 0 14%);
  clip-path: polygon(56% 0, 0 0, 0 14%);
  background-color: #000;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 2;
  width: 100%;
  height: 900px; }

.Noir2 {
  -moz-clip-path: polygon(0% 16%, 57% 7%, 11% 16%, 100% 11%, 100% 29%, 78% 31%, 100% 41%, 67% 32%, 0 35%);
  -o-clip-path: polygon(0% 16%, 57% 7%, 11% 16%, 100% 11%, 100% 29%, 78% 31%, 100% 41%, 67% 32%, 0 35%);
  -webkit-clip-path: polygon(0% 16%, 57% 7%, 11% 16%, 100% 11%, 100% 29%, 78% 31%, 100% 41%, 67% 32%, 0 35%);
  clip-path: polygon(0% 16%, 57% 7%, 11% 16%, 100% 11%, 100% 29%, 78% 31%, 100% 41%, 67% 32%, 0 35%);
  background-color: #000;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 1000px;
  top: 65%;
  left: 0%; }

.Noir3 {
  -moz-clip-path: polygon(0 33%, 100% 41%, 100% 53%, 0 65%);
  -o-clip-path: polygon(0 33%, 100% 41%, 100% 53%, 0 65%);
  -webkit-clip-path: polygon(0 33%, 100% 41%, 100% 53%, 0 65%);
  clip-path: polygon(0 33%, 100% 41%, 100% 53%, 0 65%);
  background-color: black;
  width: 100%;
  height: 600px;
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 0%; }

.Noir4 {
  -webkit-clip-path: polygon(0% 9%, 51% 0%, 13% 9%, 100% 1%, 100% 35%, 0% 20%);
  clip-path: polygon(0% 9%, 51% 0%, 13% 9%, 100% 1%, 100% 35%, 0% 20%);
  background-color: #000;
  position: absolute;
  height: 600px;
  width: 100%;
  top: -8%;
  left: 0; }

.Noir5 {
  -webkit-clip-path: polygon(100% 11%, 49% 0%, 88% 11%, 0% 6%, 0% 18%, 84% 22%, 36% 26%, 100% 22%);
  clip-path: polygon(100% 11%, 49% 0%, 88% 11%, 0% 6%, 0% 18%, 84% 22%, 36% 26%, 100% 22%);
  width: 100%;
  height: 900px;
  position: absolute;
  z-index: 2;
  top: 95%;
  left: 0%;
  background-color: #000;
  margin-top: 30px; }

.Noir6 {
  -webkit-clip-path: polygon(0% 100%, 62% 83%, 27% 100%, 71% 100%, 100% 85%, 100% 100%);
  clip-path: polygon(0% 100%, 62% 83%, 27% 100%, 71% 100%, 100% 85%, 100% 100%);
  width: 100%;
  height: 900px;
  position: absolute;
  z-index: 2;
  top: -50%;
  left: 0%;
  background-color: #000;
  margin-top: 30px; }

.dessin {
  width: 50vw;
  top: 0%;
  left: 0%;
  z-index: 3;
  float: left;
  position: absolute;
  animation: translateX 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translateX(150%); }
@keyframes translateX {
  100% {
    transform: translateX(3%); } }
.tache {
  width: 50%;
  height: auto;
  position: absolute;
  top: 20%;
  left: 45%;
  z-index: 1;
  animation: infinite shake 10s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate(0, 0, 0); }

@keyframes shake {
  50% {
    transform: translate(10px, -10px); }
  100% {
    transform: translate(0, 0); } }
@media screen and (max-width: 1160px) {
  h1 {
    font-size: 70px; }

  h2 {
    font-size: 40px;
    top: 45%; }

  h3 {
    font-size: 50px; }

  body {
    font-size: 14px; }

  .Violet {
    height: 500px; } }
@media screen and (max-width: 1000px) {
  h1 {
    font-size: 50px;
    left: 55%;
    top: 30%; }

  h2 {
    font-size: 30px;
    top: 45%;
    left: 60%; }

  h3 {
    font-size: 50px;
    left: 20%; } }
div#slider {
  width: 50%;
  max-width: 1000px;
  overflow: hidden; }

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  left: 0;
  text-align: left;
  animation: 30s slidy infinite; }

div#slider figure img {
  width: 20%;
  height: auto;
  float: left; }

@keyframes slidy {
  0% {
    left: 0%; }
  20% {
    left: 0%; }
  25% {
    left: -100%; }
  45% {
    left: -100%; }
  50% {
    left: -200%; }
  70% {
    left: -200%; }
  75% {
    left: -300%; }
  95% {
    left: -300%; }
  100% {
    left: -400%; } }

/*# sourceMappingURL=style.css.map */
